<div class="jumbotron">
    <h1 class="title">付临门支付专家</h1>
    <p class="slogan">付临门（FreeMyPay)国内领先的创新型第三方支付品牌。
    <br>
    我们致力于为商户和个人提供满足行业应用与家庭需求的第三方支付服务。
    <br>
     加入我们实现财务自由！
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">立刻加入</a></p>
  </div>


<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">关于我们</h2>
        <p class="lead">付临门（FreeMyPay)   国内领先的创新型第三方支付品牌，是上海德颐网络技术有限公司（成立于2009年1月，注册资金人民币1亿元） 自主研发、并经中国银联各级机构认可运营的综合支付平台，
          致力于为商户和个人提供满足行业应用与家庭需求的第三方支付服务。</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag href='http://ww2.sinaimg.cn/large/006tNc79gy1ffc3ppymosj31kw0vk1l0.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">产品中心</h2>
        <p class="lead">付临门POS机通过中国银联产品安全认证。集便民金融、收银管理、会员积分、商业营销、全支付于一体，一站式满足中小微商户收款、转账、还款、缴费、贷款等各类金融所需。通过该智能POS打通资金流、信息流，以完美的交互体验整合各行业以帮助大型商户、企业用户提升商户管理效率、增强支付用户粘性，助力中小微商户实现智能化的店铺经营。</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag href='http://ww3.sinaimg.cn/large/006tNc79gy1ffc49ufxn0j31fk0mwgts.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">加入我们实现财务自由</h2>
        <p class="lead">公司多年来深耕于金融支付领域，以提供最佳的用户体验为核心，通过不断创新的产品与服务，与中国银联、各大商业银行、通讯运营商、保险公司、知名商户、酒店巨头等均建立了深厚的合作关系；
          在渠道拓展方面更是与亚洲最大的便利连锁企业、中国最大的房产物业公司、法国排名第一的出版及零售商等诸多世界500强企业建立了长期战略合作，共享渠道资源。加入我们实现财务自由！</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag href='http://ww1.sinaimg.cn/large/006tNc79gy1ffc3p6vb2dj31kw0xcnpf.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
